[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
psycopg2-binary = "*"
pillow = "*"
django-cors-headers = "*"
django-countries = "*"
djangorestframework = "*"
django-extensions = "*"
pip = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = {extras = ["brotli"], version = "*"}
djoser = "*"
django = "==3.2.9"
djangorestframework-simplejwt = "*"
install = "*"
django-on-heroku = "*"
django-storages = "*"
boto3 = "*"
pyrebase = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
